@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*/ {
  box-sizing: border-box;
}

body {
	max-width: 1440px;
	min-width: 375px;
	font-family: 'Hanken Grotesk', 'sans-serif';
	margin: auto;
}

section {
	height: 840px;
  /*border: purple 1px solid;*/
  display: flex;
  justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

article {
  /*border: 1px greenyellow solid;*/
	display: flex;
	flex-direction: column;
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	width: 20rem;
	height: 28rem;
	border-radius: 30px;
}

article > h2 {
	/* border: orangered 1px solid; */
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: hsl(241, 100%, 89%);
	font-weight: 700;
	font-size: 18px;
}

.article__circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(hsla(241, 81%, 54%,0.6), hsla(241, 72%, 46%, 0));
	/*border: 1px red solid;*/
	border-radius: 50%;
	height: 180px;
	width: 180px;
	position: relative;
	top: 0;
	margin: 0 auto;
}

.article__span-big {
	color: white;
	font-weight: 800;
	font-size: 60px;
}

.article__span-normal {
	color: hsl(241, 100%, 89%);
	opacity: 0.8;
}

h3 {
	margin: 0 auto;
	color: white;
	font-weight: 700;
	font-size: 28px;
}

p {
	/*border: orangered 1px solid;*/
	color: hsl(241, 100%, 89%);
	display: block;
	width: 75%;
	margin: 15px auto;
	text-align: center;
}

aside {
  /*border: orangered 1px solid;*/
	display: flex;
	flex-direction: column;
	height: 28rem;
	width: 20rem;
	border-radius: 30px;
}

aside > h2 {
	/*border: greenyellow 1px solid;*/
	height: 12rem;
	display: flex;
	align-items: center;
	color: Dark gray blue: hsl(224, 30%, 27%);
	font-weight: 700;
	font-size: 18px;
	padding-left: 30px;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*border: 2px purple solid;*/
}


li {
	/* border: 2px purple solid; */
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 13px;
	width: 250px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
}

li:nth-child(1) {
	color: hsl(0, 100%, 67%);
	background-color: hsla(0, 100%, 67%, 0.1);
}

li:nth-child(2) {
	color: hsl(39, 100%, 56%);
	background-color: hsla(39, 100%, 56%, 0.1);
}

li:nth-child(3){
	color: hsl(166, 100%, 37%);
	background-color: hsla(166, 100%, 37%, 0.1);
}

li:nth-child(4) {
	color: hsl(234, 85%, 45%);
	background-color: hsla(234, 85%, 45%, 0.1);
}
.start {
	display: flex;
}
.start img {
	padding-right: 15px;
	
}

.light-lavander {
	color: hsl(241, 100%, 89%);
}

.dark-gray-blue {
	color: hsl(224, 30%, 27%);
}

button{
	border: none;
	cursor: pointer;
	margin-top: 15px;
}

.aside__button-container {
	/*border: 1px yellowgreen solid;*/
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 40%;
	align-self: center;
	font-family: 'Hanken Grotesk', 'sans-serif';;
}

.button--visible {
	position: absolute;
	background-color: hsl(224, 30%, 27%);
	z-index: 2;
	border-radius: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}



.button--hidden {
	position: absolute;
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button--visible:hover + button {
	z-index: 5;
}

.button--visible:hover {
	z-index: -1;
}

.button--hidden:hover {
	z-index: 5;
}

footer{
	display: flex;
	justify-content: center;
	align-self: flex-end;
}